.notify {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rpx;
  font-size: 24rpx;
  font-family:'思源雅黑';
  font-weight: 800;
  color: #FFFFFF;
  line-height: 60rpx;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  z-index: 999;
}