@import '../../components/common/styles.scss';

.auth-container {
  @include full-screen-gradient;
  font-family: '思源雅黑';
  font-size: 28rpx;
  position: relative;
  box-sizing: border-box;
}


.auth-item {
  height: 100rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #B73A16;
  padding: 0 30rpx;



  .auth-item-l {
    font-weight: 800;
    color: #030000;
    flex: 0 1 auto;
    margin-right: 40rpx;
  }

  .auth-item-r {
    text-align: right;
    font-weight: 800;
    color: #999999;
    flex: 1 1 auto;
  }
}

.auth-tip {
  font-size: 24rpx;
  font-weight: 400;
  color: #BE3620;
  margin: 33rpx 36rpx 0;
  display: flex;

  .auth-tip-icon {
    width: 30rpx;
    height: 30rpx;
    display: block;
    margin: 3rpx 6rpx 0;
    flex: 1 0 auto;
  }
}

.submit-auth {
  @include sava-button;
}